@import "tailwindcss";
@import "aos/dist/aos.css";

/* ========================= */
/* COBBLE PAGINATION BULLETS */
/* ========================= */

.swiper-pagination-bullet {
  width: 22px !important;
  height: 14px !important;

  background: #b8b3a7 !important;

  border-radius: 40% 60% 55% 45% !important;

  opacity: 0.7 !important;

  margin: 0 6px !important;

  transition: all .3s ease;
}

.swiper-pagination-bullet-active {
  background: #6e6a5f !important;
  transform: scale(1.35);
  opacity: 1 !important;
}



